script(type="text/javascript").
    RED.nodes.registerType(
        'email-validator',
        {
            category: 'validator',
            color: '#a6bbcf',
            defaults: {
                name: {value: ""}
            },
            inputs: 1,
            inputLabels: 'Email to Validate',
            outputs: 2,
            outputLabels: [
                'Success', 'Error'
            ],
            icon: "serial.png",
            label: function () {
                return this.name || "Email Validator";
            }
        }
    );

script(type="text/x-red",data-template-name="email-validator")
    div(class="form-row")
        label(for="node-input-name")
            i(class="icon-tag") Name
        input(type="text",id="node-input-name",placeholder="Name")

script(type="text/x-red",data-help-name="email-validator")
    p.
        A simple node that validates input for being a correct email format